/*header{
	display: inline-block;
	background-color: blue;
	margin-left: 150px;
	/*height: 50px;
	width: 150px;
	color: white;
	text-align: center;
}*/

/*ul: first-child {

	float: left;
	font-size: 20px;
	height: 50px;
	width: 150px;

}*/

.name {
	height: 50px;
	width: 150px;
	margin-right: 300px;
	padding:20px;
	background-color: blue;
	color: white;
}

nav { /*this affects the ul, why?*/
	display: inline-block;
	/*float: right;
	margin-right: 150px;
	/*position: relative;*/

}


li {

	display: inline;
}