/*header{
	display: inline-block;
	background-color: blue;
	margin-left: 150px;
	/*height: 50px;
	width: 150px;
	color: white;
	text-align: center;
}*/

/*ul: first-child {

	float: left;
	font-size: 20px;
	height: 50px;
	width: 150px;

}*/
html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
	margin-bottom: -100px;/*must be equal to footer height*/
}

.page-wrap:after {
	content:"";
	display: block;
}

.site-footer, .page-wrap:after {
	height:100px;
}

.site-footer {
	background: brown;
}

body {
	background-color: grey;
	border:none;
	margin:0px;
	padding:none;
}

header {
	background-color: white;
	height: 50px;
}

section {
	width: 50%;
	background-color: yellow;
	margin-left: 75px;
	display: inline-block;/*added yellow background to margin?*/
	
}

.name {
	height: 50px;
	width: 150px;
	margin-right: 300px;
	padding:10px;
	background-color: blue;
	color: white;
}

nav { /*this affects the ul, why?*/
	display: inline-block;
	/*float: right;
	margin-right: 150px;
	/*position: relative;*/

}


li {

	display: inline;
}

.contentHead {
	text-align: left;
	font-size: 50px;
	color: blue;
	background-color: white;
	margin-top: 50px;
	border-bottom: 10px;/* where's the border?*/
	border-color: black;
}

img {

	display: inline;
	margin: 20px;
	height: 200px;
	width: 200px;

}

p {
	display: inline;
	/*clear: left;
	float: right;*/

}

aside {
	/*height: 200px;
	width: 200px;
	display: inline-block;*/
	float: right;
}
/*aside > li {
	height: 50px;
	width: 50px;
}*/

.connectTable {
	margin-right: 50px;
	background-color: white;
	height: 100px;
	width: 150px;
}

.portTable
{

}

tbody {
	padding: 20px;
}

th {
	color: blue;
	background-color: white;
	padding: 20px;

}

.social {
	height: 50px;
	width: 50px;
	margin: 5px;
}

.imgPort {
	height: 100px;
	width: 100px;
}

footer {
	/*background-color: brown;*/
	text-align: center;
	margin-top: 75px;

}
